<html>
  <head>
	  <title></title>
	  <link rel="stylesheet" type="text/css" href="/css/Hackathon.css">
  </head>
  <body>

    <div>
      <button id = "sortbyRating">Rating</button>
      <button id = "sortByTrending">Trending</button>
      <button id = "sortByPrice">Price</button>
    </div>

    <!--search filter-->
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Categories...">

		<ul id="List">
		  <li><a href="#" class="header">Electronics</a></li>
		  <li><a href="#">Auto Electronics</a></li>
		  <li><a href="#">Cameras</a></li>
			<li><a href="#">Cell Phones</a></li>
		  <li><a href="#">Computers</a></li>
			<li><a href="#">TV and Videos</a></li>
		  <li><a href="#">Video Games</a></li>
		</ul>

<% items.forEach(function(item) { %>
		<div id="container">
		  <div class="square">
              <h1 class = "productName"> NAME <%= item.name %> </h1>
              <h2 class = "productPrice"> PRICE <%= item.productPrice %></h2>
              <img class = "mediumImage" src = "<%= item.mediumImage %>">
          </div>
		</div>
<% }); %>


  </body>
</html>
